    .tile-basic { 
        min-width: 12rem;
        min-height: 6rem;

        position: relative;

        border-radius: 5px;
        background: #eff3f7;
        padding: 12px 5px;
        box-sizing: border-box;
        box-shadow: 2px 2px 6px 2px rgba(0, 0, 0, 0.4);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;

    }


    .tile-basic-name { 
        width: 100%;
        font-size: 1.2em;
        text-align: center;
    }

    .tile-basic-value { 
        width: 100%;
        font-size: 1.8em;
        text-align: center;

        padding-top: 0.4em;
    }

    .tile-editable {
        text-decoration: underline;
    }


    .tile-selected { 
        border: 2px solid #00bfff  !important;
        background-color: rgb(196, 239, 253) !important;
    }
